[Unit]
Description="GraphDB Cluster Proxy"
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
RestartSec=5s
User=graphdb
Group=graphdb
EnvironmentFile=/etc/graphdb-cluster-proxy/graphdb-cluster-proxy.env
ExecStart="/opt/graphdb/bin/cluster-proxy"
TimeoutSec=120
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
