[Unit]
Description="GraphDB Engine"
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
RestartSec=5s
User=graphdb
Group=graphdb
EnvironmentFile=/etc/graphdb/graphdb.env
ExecStart=/opt/graphdb/bin/graphdb
TimeoutSec=120
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
